#
.DS_Store
.spotify-token-cache
.storage
.icloud
home-assistant.log
home-assistant_v2.db
secrets.yaml
tts
google_assistant.json
known_devices.yaml
git.sh
git.txt
github-credentials
.google_maps_location_sharing.*
google_maps.*
icloud*
*.code-workspace