#
.google.token
.HA_VERSION
.homekit.state
.spotify-token-cache
.ssh
.storage
.vscode
.uuid
home-assistant.code-workspace
home-assistant.log
home-assistant_v2.db
other.yaml
secrets.yaml
themes
tts
home-assistant_v2.db-wal
home-assistant_v2.db-shm
.cloud
google_assistant.json
known_devices.yaml
